/*
.container{
    width:100%;
    height:100%;
    background: aqua;
}

.leftside{
    width: 25%;
    height: 100%;
    float: left;
    background-color: rosybrown;
    border-collapse: collapse;
}
.rightside{
  width: 75%;
  height: 100%;
  float: right;
  border-collapse: collapse;
}
*/
img {
    margin-right: 10px;
}