#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
 
.pad {
	margin-top: 50px;
}

.display-block {
	margin-top: 50px;
	text-align:center;
	border:2px solid #FFD700;
	width: 70rem;
	height:45rem;
	background:#FFFFFF;
	border-radius:25px;
}

.other-city-block {
	width: 15rem;
	height: 45rem;
}

.table-display {
	width:80%;
	text-align: center;
	left:80px;
}