 <nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="frontpage.html">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="previouspage.html">Past Weather</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="futurepage.html">Predicted Weather</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="statistics.html">Predicted Weather Statistics</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="aboutus.html">About us</a>
    </li>
  </ul>
</nav>