<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container">
    <div>
      <img src="groupplaceholder.png" alt="Simply Easy Learning" width="1260" height='300'>
      <h1> About Us</h1>
      <p>we are a group of like minded individuals, who came together to create
        a wonderful thing for everyone to enjoy... Another weather website to
        mislead you about the weather.</p>
    </div>
    <h1>Meet The Team</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">

          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <h4>Aaron Mankel</h4>
              </div>
              <div class="col-xs-6"></div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <img src="indplaceholder.jpg" width="100" height='100'>
              </div>
              <div class="col-xs-6">
                <p>stuff</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <h4>Kieran Zylstra</h4>
              </div>
              <div class="col-xs-6"></div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <img src="indplaceholder.jpg" width="100" height='100'>
              </div>
              <div class="col-xs-6">
                <p>stuff</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <h4>person 1</h4>
              </div>
              <div class="col-xs-6"></div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <img src="indplaceholder.jpg" width="100" height='100'>
              </div>
              <div class="col-xs-6">
                <p>stuff</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <h4>person 1</h4>
              </div>
              <div class="col-xs-6"></div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <img src="indplaceholder.jpg" width="100" height='100'>
              </div>
              <div class="col-xs-6">
                <p>stuff</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <h4>person 1</h4>
              </div>
              <div class="col-xs-6"></div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <img src="indplaceholder.jpg" width="100" height='100'>
              </div>
              <div class="col-xs-6">
                <p>stuff</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <h4>person 6</h4>
              </div>
              <div class="col-xs-6"></div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <img src="indplaceholder.jpg" width="100" height='100'>
              </div>
              <div class="col-xs-6">
                <p>stuff</p>
              </div>
            </div>
          </div>

          <br/>

        </div>
      </div>
    </div>
  </div>




<% include ../partials/footer %>   