<% include ../partials/header %>
<% include ../partials/menu %>
    
    <div class="rcorners2">
      <br>
      <div clas = row>
      <div class="card" style="position:absolute;left:50px;top:50px;
      border:2px solid #FFD700;
      padding:300px 450px;
      background:#FFFFFF;
      width:300px;
      border-radius:25px;
      /*-moz-border-radius:25px;*/">
      </div>
      <div class="card" style="position:absolute;left:1000px;top:50px;
      border:2px solid #FFD700;
      padding:300px 200px;
      background:#FFFFFF;
      width:300px;
      border-radius:25px;
      /*-moz-border-radius:25px;*/">
      </div>
      </div>
    </div>
    <% include ../partials/footer %>
